<style>
            body {
                background: url("klim-musalimov-gr_Ia8kzwFs-unsplash.jpg") no-repeat center center fixed;
                color: white;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            
            #flexHeader {
                display: flex;
                text-decoration: cursive;
                justify-content: center;
                align-items: center;
            }

            #flexMain {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #flexHeader>h1 {
                font-family: 'courier', cursive;
                font-size: 50px;
                color: cornsilk;
            }

            #flexMain>ul {
                font-family: 'courier', cursive;
                font-size: 25px;
                background-color: whitesmoke;
                color: whitesmoke;
                opacity: 50%;
                padding: 20px;
                border: 10px ridge whitesmoke;
            }
        </style>